<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Car List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <form action="/cars" method="post">
      <label for="model">Add a new car</label>
      <input id="model" name="model" type="text">
      <label for="price">Enter the price</label>
      <input id="price" name="price" type="text">
      <label for="miles">Enter the miles</label>
      <input id="miles" name="miles" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>